
img {
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 150px;
}

.SongDetails {
    color: #111; 
    font-family: Verdana;
}

.SongContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #EBEBEB;
    width: 100%;
    max-width: 100%;
}